.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-bottom: auto;
  max-width: 1500px;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__carasoal {
  width: 100%;
  overflow: hidden;
}

.image__row {
  width: 400%;
  display: grid;
  grid-auto-columns: repeat(4, 25%);
  left: 0;
  height: 100%;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__backToTopButton {
  background: #37475a;
  color: white;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  max-width: 1500px;
  border: none;
  height: 40px;
}
